@using WebApp.ViewModels.Views
@model AccountViewModel
@{
    ViewData["Title"] = $"{Model.FirstName}{Model.LastName}";
}

<section class="profile-page">
    <div class="container">
        <div class="account-management">
            <div class="profile">
                <img src="@Model.ProfileImage.ImageUrl" alt="@Model.ProfileImage.ImageAlt">
                <h5>@Model.FirstName</h5>
                <p>@Model.Email</p>
            </div>
            <div class="profile-btns">
                <a class="theme-btn" href="#"><i class="fal fa-cog"></i>Account Details</a>
                <a id="sign-out" asp-controller="Authentication" asp-action="SignOut"><i class="fa-regular fa-arrow-left-from-bracket"></i> Sign Out</a>
            </div>
        </div>

        <div class="account-details">
            <h2>Account Details</h2>

            <form class="info-form" method="post">
                <h5>Basic Info</h5>

                <div class="basic-info">
                    <div class="input-group" id="account-firstname">
                        <label asp-for="@Model.FirstName"></label>
                        <input asp-for="@Model.FirstName" />
                    </div>
                    <div class="input-group" id="account-lastname">
                        <label asp-for="@Model.LastName"></label>
                        <input asp-for="@Model.LastName" />
                    </div>
                    <div class="input-group" id="account-email">
                        <label asp-for="@Model.Email"></label>
                        <input asp-for="@Model.Email" />
                    </div>
                    <div class="input-group" id="account-phone">
                        <label asp-for="@Model.PhoneNumber"></label>
                        <input asp-for="@Model.PhoneNumber" />
                    </div>
                    <div class="input-group" id="account-bio">
                        <label asp-for="@Model.Bio"></label>
                        <input asp-for="@Model.Bio" />
                    </div>
                </div>
                <div class="save-changes">
                    <button class="gray-btn" asp-controller="Profile" asp-action="Account">Cancel</button>
                    <button class="theme-btn" asp-controller="Profile" asp-action="Update">Save changes</button>
                </div>
            </form>
            <form class="address-form" method=post>
                <h5>Address</h5>

                <div class="address">
                    <div class="input-group" id="account-primary-address">
                        <label asp-for="@Model.PrimaryAddress"></label>
                        <input asp-for="@Model.PrimaryAddress" />
                    </div>
                    <div class="input-group" id="account-secondary-address">
                        <label asp-for="@Model.SecondaryAddress"></label>
                        <input asp-for="@Model.SecondaryAddress" />
                    </div>
                    <div class="input-group" id="account-postal-code">
                        <label asp-for="@Model.PostalCode"></label>
                        <input asp-for="@Model.PostalCode" />
                    </div>
                    <div class="input-group" id="account-city">
                        <label asp-for="@Model.City"></label>
                        <input asp-for="@Model.City" />
                    </div>
                </div>
                <div class="save-changes">
                    <button class="gray-btn" asp-controller="Profile" asp-action="Account">Cancel</button>
                    <button class="theme-btn" asp-controller="Profile" asp-action="Update">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</section>