@model NewsletterViewModel

<section id="@Model.Id" class="newsletter">
    <div class="container">
        <div class="newsletter-title">
            <h1>@Model.Title</h1>
            <img src="@Model.Image.ImageUrl" alt="@Model.Image.ImageAlt">
        </div>
        <form method="post">
            <div class="news-box">
                <h5>@Model.FormTitle</h5>


                <div class="newsletter-group">
                    @{int checkboxCount = 1;
                    foreach(var checkbox in Model.CheckboxText)
                    {
                        <div class="newsletter-checkbox">
                            <div class="checkbox-group">
                                <input type="checkbox" name="checkbox_@checkboxCount">
                                <label for="checkbox_@checkboxCount">@checkbox</label>
                            </div>
                            </div>
                            checkboxCount += 1;
                        }
                    }
                </div>
            </div>

            <div class="subscribe-email">
                <div class="input-group">
                    <input type="text" placeholder="@Model.Placeholder">
                </div>
                <button class="@Model.Button.LinkType" type="submit">@Model.Button.LinkText</button>
            </div>
            <p>* Yes, I agree to the <a target="_blank" href="#">terms</a> and <a target="_blank" href="#">privacy policy.</a></p>
        </form>
    </div>
</section>