@using WebApp.ViewModels.Views
@model CoursesViewModel

<section class="courses">
    <div class="container">
        <div class="courses-title-box">
            <div class="title">
                <div class="courses-nav"> <img src="/images/icons/bx-home.svg"> <p>Home  <i class="fa-solid fa-chevrons-right"></i>  <a href="#">Courses</a></p></div>
                <div class="courses-title"><h1>@Model.Title</h1></div>
                <div class="search-box">
                    <select name="category">
                        <option value="all-categories">All categories</option>
                        @if (Model.Category != null)
                        {
                            foreach (var category in Model.Category)
                            {
                                <option value="frontend">@category</option>
                            }
                        }
                    </select>
                    <input type="search" name="search-courses" placeholder="Search courses">
                </div>
            </div>
        </div>
        <div class="courses-content-box">

            @if (Model.CourseBox != null)
            {
                foreach (var course in Model.CourseBox)
                {
                    <div class="course-content">
                        <div class="image">
                            <img src="@course.Image.ImageUrl" alt="@course.Image.ImageAlt">
                            <div class="bookmark">
                                <div>
                                @if (@course.IsBestseller)
                                {
                                    <p>Best Seller</p>
                                }
                                </div>
                                <img src="/images/icons/bookmark.svg" alt=""></div>
                        </div>
                        <div class="course-info">
                            <div class="course-title">
                                <h5>@course.Title</h5>
                                <p>@course.Author</p>
                                <div class="price-box">
                                    <p class="discount-price">@course.DiscountedPrice</p>
                                    @if (course.DiscountedPrice != null)
                                    {
                                        <p class="line-through-price">@course.Price</p>
                                    }
                                    else
                                    {
                                        <p class="price">@course.Price</p>
                                    }
                                </div>
                            </div>
                            <div class="course-likes">
                                <div class="likes"><img src="/images/icons/bx-time-five.svg" alt="">@course.Hours</div>
                                <div class="likes"><img src="/images/icons/bx-like.svg" alt="">@course.LikesPercent (@course.Likes)</div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>

</section>